body {
  font-family: "Lato", Arial, sans-serif;
  /* height: 100%; */
  background-color: rgb(12, 15, 19);
  color: #fff;
  /* background-image: linear-gradient(rgb(47, 50, 54), rgb(35, 38, 41)); */
  margin: 0;
}

.container {
  text-align: center;
}

.galleryContainer {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto;
}

.galleryParagraph {
  font-style: italic;
  font-size: 1.2em;
  color: #bbb;
  padding: 25px 0px 25px 0px;
}

.aboutPage,
.contactPage {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  padding-top: 60px;
}

.aboutChapter,
.contactChapter {
  text-align: left;
  font-size: 0.8em;
}

h2 {
  padding-bottom: 40px;
}

h3 {
  padding-bottom: 20px;
}

.pictureModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
}

.modalContent {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 1600px;
}

.closeBtn {
  color: white;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 1.3em;
  padding: 5px;
  margin: 0px;
}

.prevBtn,
.nextBtn {
  color: white;
  background: rgba(0, 0, 0, 0);
  font-size: 1.3em;
  padding: 5px;
  margin: 0px;
}

.prevBtn {
  margin: auto;
  vertical-align: middle;
  height: 100%;
  width: 100px;
  transform: scaleX(-1);
  border: none;
}

.nextBtn {
  margin: auto;
  vertical-align: middle;
  height: 100%;
  width: 100px;
  border: none;
}

.prevBtn:hover,
.nextBtn:hover,
.fullImg:hover {
  cursor: pointer;
}

.svgArrow {
  height: 100px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: rgb(185, 185, 185);
  text-decoration: none;
  cursor: pointer;
}

.fullView {
  background: rgba(0, 0, 0, 0.5);
}

.fullImg {
  margin: auto;
  vertical-align: middle;
  max-height: 80vh;
  max-width: 90%;
}

.pictureWall {
  max-width: 800px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0px;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
  width: 100%;
}

.column img:hover {
  cursor: pointer;
}

.footerBar {
  margin-top: 120px;
  padding: 30px 0px 30px 0px;
  font-size: 0.75em;
  color: rgb(40, 53, 70);
  border-top: 1px rgb(40, 53, 70) solid;
}

/* Navigation */
.navbar {
  background-color: rgb(22, 24, 31);
  background-image: linear-gradient(
    to bottom,
    rgb(12, 15, 19),
    rgb(25, 26, 29)
  );
  display: flex;
  width: 100%;
  justify-content: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  width: 40%;
  justify-content: space-between;
}

.navbar li {
  list-style: none;
}

#middleLink {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar a,
a:visited,
.chLinks {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  /* font-weight: 600; */
  color: rgb(185, 233, 255);
}

/* Media */

/* Small (Mobile) */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .fullImg {
    max-width: 100%;
  }

  .prevBtn,
  .nextBtn {
    display: none;
  }

  .aboutPage,
  .contactPage {
    grid-template-columns: 10% 80% 10%;
  }
}

/* Size 1 */
@media (min-width: 800px) {
  .fullImg {
    max-width: 70%;
  }

  .aboutPage,
  .contactPage {
    grid-template-columns: 10% 80% 10%;
  }
}

/* Size 2 */
@media (min-width: 1000px) {
  .fullImg {
    max-width: 75%;
  }
}

/* Size 3 */
@media (min-width: 1200px) {
  .fullImg {
    max-width: 80%;
  }
}

/* Size 4 */
@media (min-width: 1400px) {
  .fullImg {
    max-width: 85%;
  }
}

/* Xtra wide */
@media (min-width: 2000px) {
  .galleryContainer {
    grid-template-columns: 20% 60% 20%;
  }
}

/* X-Xtra wide */
@media (min-width: 2600px) {
  .galleryContainer {
    grid-template-columns: 25% 50% 25%;
  }
}
