body {
  font-family: "Lato", Arial, sans-serif;
  /* height: 100%; */
  background-color: rgb(12, 15, 19);
  color: #fff;
  /* background-image: linear-gradient(rgb(47, 50, 54), rgb(35, 38, 41)); */
  margin: 0;
}

.container {
  text-align: center;
}

/* Navigation */
.navbar {
  background-color: rgb(22, 24, 31);
  background-image: linear-gradient(
    to bottom,
    rgb(12, 15, 19),
    rgb(25, 26, 29)
  );
  display: flex;
  width: 100%;
  justify-content: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  width: 40%;
  justify-content: space-between;
}

.navbar li {
  list-style: none;
}

#middleLink {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar a,
a:visited,
.chLinks {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  /* font-weight: 600; */
  color: rgb(185, 233, 255);
}
