.topBanner {
    color: #fff;
    height: 40px;
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.topNav {
    background: #06080e;    
    font-size: 16pt;
    color: #fff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navLink {
    font-size: 16pt;
    color: #fff;
    height: 80px;
    width: 100%;
    padding-left: 0px;
}

.topNavLinks .nav {
    background: #06080e;    
}
