.pw-gen {
    background: #06080e;
}
.topNav {
    background: #fff;
}
body {
    background: #06080e;
}

.pw-gen {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #fff;
}